<h1>Add new book</h1>
<%= form_for(@book) do |f| %>
  <%= render 'shared/new_book_error_messages' %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :total_pages %><br />
    <%= f.text_field :total_pages %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
